.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

    .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #9e9df2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    }

    @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }
