.starry-background {
    position: relative;
    width: 100%;
    height: 90%;
    background-color: transparent; /* Set the background color */
  }
  
  .starry-background::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -5%;
    width: 110%;
    height: 100%;
    border-radius: 30%;
    background: transparent url('https://media.giphy.com/media/C3jDAVkck4a1Scqp6n/giphy.gif') repeat;
    z-index: -1;
    animation: twinkling 20s linear infinite;
  }
  
  @keyframes twinkling {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
  }